@font-face {
    font-family: 'typewritter';
    src: url('./assets/fonts/AmericanTypewriter.ttf') format('truetype-collection');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
